if SHIELD_AM_HATSU_DONGLE

# Keyboard name (max 16 characters)
config ZMK_KEYBOARD_NAME
	default "Am-Hatsu Dongle"

# Set this keyboard as the central (dongle) for split keyboard
config ZMK_SPLIT_ROLE_CENTRAL
	default y

# Enable split keyboard support
config ZMK_SPLIT
	default y

# Number of peripherals (left + right = 2 for am_hatsu split keyboard)
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
	default 2

# BT_MAX_CONN = peripherals + BT profiles (default 5)
config BT_MAX_CONN
	default 7

# BT_MAX_PAIRED = same as BT_MAX_CONN
config BT_MAX_PAIRED
	default 7

if ZMK_DISPLAY

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default y

endif # ZMK_DISPLAY

if LVGL

config LV_Z_VDB_SIZE
	default 64

config LV_Z_DPI
	default 148

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1
endchoice

endif # LVGL

endif # SHIELD_AM_HATSU_DONGLE
